#lightgallery{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.multimidia-item{
  height: auto;
  width: 16.66%;
//  max-width: 200px;
  min-width: 180px;
  padding: 15px;
  overflow: hidden;
  transition: all .5s cubic-bezier(0, 0, 0.25, 1) 0s;

  img{
    width: 100%;
    margin: 0 0 15px 0;
  }

  h3{
    font-weight: 600;
  }

  h4, h3{
    color: $color-two;
    font-size: em(12px);
    letter-spacing: 1px;
    line-height: 1.5em;
  }

  &:hover{
    background: rgba( $color-two,0.13);
    box-shadow: 0 16px 14px 0 rgba($color-four,0.15);
  }

}

.multimidia{

  header{
    position: relative;
    background-color: transparent;

    h2{
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 22px;
      color: $color-two;
    }

    span{
      margin-left: 30px;
      font-size: 14px;
      color: $color-two;
    }

    h2, span{
      display: inline-block;
    }

  }

  .video{

    figure{
      position: relative;

      &:before{
        position: absolute;
        margin: -30px 0 0 -30px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 60px;
        font-family: 'FontAwesome';
        content: $fa-var-play;
        border-radius: 40px;
        font-size: 35px;
        color: $color-two;
        text-indent: 7px;
        background: rgba($color-three,0.63);

      }
    }

  }

}
