.note-added{
	position: absolute;
	left: 120px;
	top: 120px;
	display: inline-block;
	padding: 10px;
	height: 45px;
	width: 45px;
	background-color: rgba(254, 254, 254, 0.5);
	opacity: 1;
	border-radius: 40px;
	text-align: center;

	i{
		font-size: em(24px);
		pointer-events: none;
	}

	&:last-child{
		box-shadow: 0 2px 4px 0 rgba(38,38,38,0.05);
	}

	&:hover{

		.note-element{
			display: block;
			opacity: 1;
		}

	}

}

.note-element{
	position: absolute;
	left: 50px;
	top: 0;
	line-height: 1.4em;
	max-height: 320px;
	min-width: 280px;
	opacity: 0;
	display: none;
	background: #fff;
	background: #fbf9e4;
	font-size: em(14px);
	box-shadow: 0 1px 7px rgba(0,0,0,.05);
	border-radius: 2px;
	pointer-events: none;

	header{
		position: relative;
		// width: 100%;
		// padding: 10px;
		// background-color: $color-three;
	}

	div{
		padding:15px;
		text-align: left;
		max-height: 280px;
		overflow: hidden;
		font-style: italic;
		font-weight: 300;
	}

	.close{
		position: absolute;
		top: -15px;
		right: -15px;
		float: none;
		padding: 5px;
		background-color: $color-three;
		border-radius: 50px;
	}

}
