body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;    
}

#top { /* pega toda a ?rea do topo */
       height: 43px;
       min-width: 995px;
       width: 100%;
       float: left;
       display: block;
       clear: right;
}



#data {
    margin-top: 4px;
    float: left;
    padding-top: 17px;
    text-align: center;    
    width: 350px;
    clear: right;
}

#data_buttons {
    margin-top: 1px;
    float: left;
    text-align: center;    
    width: 30%;
    clear: right;
}

#data_buttons a{
    margin-left:3px;
    margin-right:3px;
}

#data_login{
    margin-top: 1px;
    float: right;
    padding-top: 10px;
    text-align: center;    
    width: auto;
    padding-right:20px;

}

#topnav {
    /* div que pega toda area de navega??o */
    height: 30px;
    width: 100%;
    min-width: 995px;
    float: left;
    display: block;    
    clear:both;
}

a.tab { /* tabs superior esquerda */
        background-position:center;
        margin-top: 0px;
        float: left;
        display: inline;
        width:105px;
        height:32px;
        line-height:9px;
        text-decoration: none;
}

a.tab2 { /* tabs superior esquerda */
         background-position:center;
         margin-top: 0px;
         float: left;
         display: inline;
         width:105px;
         height:32px;
         line-height:9px;
         text-decoration: none;
}

a.tab2 span{    
    height:32px;
    padding-top: 4px;
    margin-top: 3px;
    padding-left:8px;
}

a.tab2 img {
    border: none;
}

input.saltar {
    width: 36px;
    height: 14px;
    vertical-align: top;    
    border: 1px solid #96C0D8;

}
input.saltar a{   
}

#logocliente { /* a imagem do logo deve ter sempre as dimens?es m?ximas de 300x46px */
               margin-top: 3px;
               float: left;
               height: 40px;
               width: 33%;
               clear: right;
               padding-left:3px;
               text-align:left;
}

#logomaven {
    margin-top: 4px;
    float: left;
    height: 40px;
    width: auto;
}
img {
    border: none;
}

img.mavenlogo {
    float: right;
    height:30px;
}
a.botao { /* botoes ao lado da data */
          margin-top: 12px;
          margin-right: 5px;
          float: left;
          display: inline;
}
a.botao img {
    border: none;
}

#tabs { /* div das tabs */
        width: 25%;
        height: 30px;
        float: left;
        display: block;
}

a.tab span{    
    height:32px;
    padding-top: 8px;
    margin-top: 3px;
    padding-left:15px;
}

a.tab img {
    border: none;
}
#nav { /* navega??o central superior */
       width: 54%;
       height: 30px;
       float: left;
       display: block;
}
#navcenter {
    width: 550px;
    height: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    margin-bottom: -5px;
}
#navcenter img {
    border: none;
    vertical-align: middle;
}
#capa {
    width: 107px;
    padding-left: 20px;
    margin-right: -20px;
    float: left;
    display: inline;
}
#paginas {
    width: 300px;
    float: left;
    display: inline;
    text-align: center;
    text-decoration:none;
}
#saltar {
    width: 123px;
    float: left;
    display: inline;
    text-align: right;


}
#saltar img {
    vertical-align: middle;
}

#tabs2 {  /* esta ?rea n?o est? sendo utilizada */
          width: auto;
          height: 30px;
          float: left;
          display: inline;
}
#corpo {
    width: 100%;        
    display: block;
    clear:both;
}
#menu {    
    padding-top: 1px;
    padding-left:13px;        
    vertical-align:top;
    text-align:left;
    background-color:transparent;
}

#menu #contador{
    margin-top:30px;
    vertical-align:bottom;
    text-align:center;
}

#menu img{
    border: none;
}
#jornal {        
    padding-top: 2px;
    margin:0px;
    text-align: center;
    vertical-align:top;    

}

#jornal_login {
    width: 100%;
    height:100%;
    float: left;
    padding-right: 2.6%;
    margin-left: -2.6%;
    padding-top: 5px;
    text-align: center;
    vertical-align:middle;
    display: inline;
    background: transparent;
}

#megazine {    
    vertical-align:top;    
    border:none;
    text-align:center;    
    z-index:1;  
}

#megazineScript{
    border:none;
    outline: none;
}

#content {
    position: absolute;
    text-align: left;
    padding: 5px;
    overflow:hidden;    
    z-index: 100;
    width:655px;
    height:445px;
    margin-left:-327px;
    margin-top:-222px;
    left:50%;
    top:50%;
}
#content_big {
    position: absolute;
    text-align: left;
    padding: 5px;
    overflow:hidden;    
    z-index: 100;
    width:1000px;
    height:454px;
    margin-left:-500px;
    margin-top:-222px;
    left:50%;
    top:50%;
}

#barMessages * {
    margin: 0;
}

div#alttext {
    margin: 0 auto 0 auto;
    width: 450px;
}

#loading {
    width: 200px;
    height: 100px;        
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
    border: 1px dotted #999;
}

.CampoTexto {        
    color: #000000;
    text-decoration: none;
    border: solid #000000;
    border-width: 1px
}
.BotaoBranco {
    background-color: white;
    border: 1px solid #999999;    
    color: #000000;
    text-decoration: none;
}
.TextoPreto {    
    color: #000000;
    text-decoration: none;
}
.TextoLogin {    
    color: #A91E00;
    text-decoration: none;
}

#logout_button{
    position:absolute;
    left:97%;
    top:20px;
}

#loginForm{
    margin:0px;
}

#loginForm form{
    margin:0px;
}

#menu_itens{
    padding-left:5px;
    margin:0px;    
}

table, td.full {height:100%; padding:0px; margin:0px;}

#formulario {
    background-color:#DFE5EC;
    position: relative;
    width: 100%;
    border:silver;
    height:auto;
    padding-top:5px;
    padding-bottom:15px;
}
#rubberBand {
    position: absolute;
    visibility: hidden;
    width: 0px; height: 0px;
    border: 2px solid red;
}

#comments_div {
    border: 1px solid #000;
    width: 350px;
    height:180px;
    min-height: 30px;
    background: white;
    text-align: left;
    position: absolute;    
    color: #000000;
    text-decoration: none;
    left:40%;
    top:40%;
    margin-left:-100px;
    z-index:900;
    padding: 10px;
}
.amarelo{
    background-color:#FFFFA1;
    color:black;
    margin-bottom:5px;
}