.myList .x-list-item {
   min-height: 100px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

p {padding-bottom: 20px; }

.settingsOuterDiv
	{
		height:70px;
	}

	.settingsInnerGraphicDiv
	{
		float:left; height:70px;
	}

	.settingsInnerTextContainerDiv
	{
		margin-top:5px; margin-left:30px;float:left; height:60px; line-height:30px;
	}
 .x-tabbar {
	    
        }

.newsdayhome {

-webkit-mask-box-image:url('../images/Tabbar/headlines_tab_icon.png'); 
padding:10px;
}

.archive {

-webkit-mask-box-image:url('../images/Tabbar/PSToolbar-Archive.png'); 
padding:10px;
}

.paper {

-webkit-mask-box-image:url('../images/Tabbar/PSToolbar-Mag.png'); 
padding:10px;
}

.pscard1
{
	
}


.pscard1 .x-toolbar-label
{
	
}
.newsdayhome .x-toolbar-label {
    
}

.newsdayvideo {

-webkit-mask-box-image:url('../images/Tabbar/videos_tab_icon.png'); 
padding:10px;

}

img.img { /* creative! */
		background-repeat: no-repeat;
		background-position: left top;
		-moz-background-size: 100%;
		-webkit-background-size: 100%;
		background-size: 100%;
		-webkit-transform: translate3d(0, 0, 0); /* without this the images are randomly distorted when zoomed out */
	}
	
	

.paperlogo
{	
	-webkit-mask-box-image:url('../Tabbar/paper_tab_icon.png'); 
	padding:10px;
	width:20px;
	
}

.newsdayphotos {

-webkit-mask-box-image:url('../Tabbar/photos_tab_icon.png'); 
padding:10px;

}
.backpanelimage
{
	background:#000000 url('backpanel.png') repeat-x;
  }

.newsdayprofile {

-webkit-mask-box-image:url('../Tabbar/profile_tab_icon.png'); 
padding:10px;

}
.newsdaymyli {

-webkit-mask-box-image:url('../Tabbar/my_LI_tab_icon.png'); 
padding:10px;

}

.x-tabbar-dark.x-docked-bottom .x-tab{
color: #787878;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active{
color: #fff;
background-color:#1c2a3a;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), color-stop(2%, #454545), color-stop(50%, #2c2c2c), color-stop(51%, #121212), to(#0d0d0d));
background-image:linear-gradient(top, #4e74a2 0%, #2d435d 2%, #111922 100%);text-shadow:rgba(0, 0, 0, 0.5) 0 -0.08em 0
}

.x-tabbar-dark.x-docked-bottom {
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#434343), color-stop(2%, #2d2d2d), color-stop(50%, #151515), color-stop(51%, #000), to(#000));
background-image:linear-gradient(top, #466890 0%, #24364c 2%, #080c11 100%);
}

.x-tabbar-dark.x-docked-bottom .x-tab img{
background-color:#787878;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a2a2a2), color-stop(2%, #9a9a9a), color-stop(100%, #585858));
background-image:linear-gradient(top, #7c7c7c 0%, #464646 2%, #292929 100%);

        display: block;
        margin-bottom : 5px;
		position: relative;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active img{
background-color:#0a7aff;
        display: block;
        margin-bottom : 5px;
		
        position: relative;
/*
background-image:-webkit-gradient(linear, 0% 0%, 20% 100%, color-stop(0%, #e0f1ff), color-stop(60%, #98c5ee), color-stop(61%, #1d96f7), color-stop(100%, #46e9ff));
*/
background-image:-webkit-gradient(radial, 60% 90%, 0, 120% 390%, 120, from(#46e9ff), color-stop(50%, #1d96f7), color-stop(51%, #98c5ee), color-stop(100%, #e0f1ff));
background-image:linear-gradient(top, #57a3ff 0%, #2488ff 50%, #0a7aff 51%, #006df0 100%)
}