.md-modal {
	position: fixed;
	top: 90px;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	@include transform(translate(-50%, 0));
}
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show {
	visibility: visible;
	margin-left: -0.1px;
}

#notes .md-content,
.overlay-content .md-content {
	position: relative;
	color: $color-five;
	background: $color-two;
	border-radius: 3px;
	margin: 0 auto;

	.close {
		top: 10px;
		right: 10px;
		height: 30px;
		width: 30px;
		padding: 1px 0;
		border-radius: 15px;
		color: $color-five;

		&:before {
			color: $color-five;
			font-size: 1.9em;
		}

		&:hover {
			background-color: $color-seven;

			&:before {
				color: $color-two;
			}
		}
	}
}

#notes .md-content {
	min-width: 300px;
	margin-left: 0.1px;

	textarea {
		display: block;
		padding: 10px;
		width: 100%;
		max-width: 100%;
		min-height: 150px;
		font-size: em(15px);
		line-height: 1.4em;
		color: $color-three;
		outline: none;
		border: 1px solid $color-five;
	}
}

#notes .md-content {
	.close {
		position: absolute;

		&:before {
			font-family: 'lg';
			color: $color-five;
			font-size: em(32px);
			cursor: pointer;
			outline: none;
			content: "\e070";
		}
	}
}

.md-content {
	.field {
		margin-bottom: 10px;
	}

	input {
		padding: 5px 10px;
		width: 100%;
		font-size: 0.8em;
		color: $color-three;
		border: 1px solid $color-five;
	}

	h3 {
		margin: 16px 0 31px;
		color: $color-three;
	}

	button {
		border: none;
		border-radius: 2px;
		padding: 5px 15px;

		&.save {
			background: $color-eight;
			border: 1px solid $color-eight;
			color: $color-two;
			font-size: 15px;

			&:hover {
				background-color: transparent;
				color: #0bcc6c;
			}
		}
	}
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.modal {
	display: none;
	position: fixed;
	top: 60px;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: 10;
}
