#imagegallery{
display:block;
margin-left: auto ;
margin-right: auto ;
}
#pagesgallery{
text-align:center;
overflow:auto;
margin-left: auto ;
margin-right: auto ;
display:none;
}

.overlay{
background-color: yellow;
filter:alpha(opacity=35); /* IE's opacity*/
opacity: 0.35;
position: absolute;
z-index: 999;
}