#imagegallery .page{
    width: 1024px;
    max-width:2361px;
    min-height:1878px;
    max-height:4331px;
}
#imagegallery img{
    width: 768px;
    max-width:1024px;
    border:1px solid #000;
    z-index: 9;
}z
#pagesgallery{
    width: 1024px;
    height: 1878px;
}
.pagemin{
    width:92px;
    height:176px;
    float:left;
    overflow:hidden;    
    display:none;
    margin-top: 5px;

}
.pagemin img{
    width:82px;
}