#edicao_container{
    /*background-color: #000000;
    filter:alpha(opacity=80);
    -moz-opacity:0.7;
    opacity: 0.7;*/
    padding: 5px;
    table-layout:fixed;        
}
#edicao_container .box {
    display:block;
    float:left;
    width:110px;
    height:175px;
    max-width: 110px;
    max-height: 175px;
    padding-top:2px;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:2px;
    text-align:center;
    overflow:hidden;
}

#edicao_container #selected{    
    background-color:#FF9494;
}

#edicao_container .box:hover{
    background-color:#FF9494;
}

.filter_box{
    font-size:14px;
    padding:7px;
}

#edicao_container.box span{
  display: block;
  clear:both;
  text-align: center;
}

.box span a img{
    max-width: 80px;
    max-height: 120px;
    text-align: center;
    margin: 0;
}

#edicao_container .box .data{
    text-align:center;
    font-size: 8pt;
    float:left;
    padding-left:4px;

}

#edicao_container .box .numero{
    background-color:blue;
    color: white;    
    font-size:8pt;
    margin-left:3px;
    padding-left:3px;
    padding-right:3px;
    float:left;
}