#imagegallery {
    width:100%;
    min-width: 100%;  
    height:100%;
}
#zoomgallery{
    width:100%;
    min-width:100%;    
}
#scroller li {
    width:50%;
    min-width: 50%;    
    min-height: 100%;
}
#zoomgallery img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;   
}
#pag0 #zoomgallery img{
    width:50%;    
}
#sepmenu{
    margin-left:180px;
}
#carregador{
    margin-top:22%;
    text-align:center;
}
.direita{
    float:right;
}
.esquerda{
    float:left;
}
#rotacionando h1{
    margin-top:25%;   
}
#rotacionando img{
    width:130px;
    height:120px;
} 
#logodiv{
    width:13%;   
    /*overflow:hidden;*/
}
#imglogo{
    max-height:40px;
    max-width:300px;
}
#sb-container{
    z-index:999999;
}