#imagegallery {
    width:100%;
    min-width:100%;  
    height:100%;
}
#zoomgallery{
    width:100%;
    min-width:100%;      
}
#scroller li {
    width:100%;
    min-width:100%; 
    min-height: 100%;
}
#zoomgallery img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;   
}
@media (min-width: 600px) {  
    #sepmenu{
        margin-left:70px;
    }
    #camponumero{
        width:100px;
        text-align: center;
    }    

}
#carregador{
    margin-top:40%;
    text-align:center;
    width:90px;
}

@media (max-width: 640px) {  
    #sepmenu{
        margin-left:1px;
    }    
    #camponumero{
        width:70px;
        text-align: center;
    }    
    .logoempresa{
        display: none;         
    }
    #tab_left { width:40px; height:300px; position:absolute; left:0; }
    * html #tab_left { overflow:hidden } /*para IE6 e anteriores*/

    #dock { margin:0; padding:0px; list-style:none; position:fixed; z-index:100; left:0px; }
    * html #dock { margin:90px 0 0 0  } /*para IE6 e anteriores*/
    #dock > li { width:40px; height:120px; margin:0; }
    #dock > li:hover { background-position:-40px 0px; }
    #dock ul li { text-align:left; display:inline-table; }
    #dock ul li a { color:#333333; font-size:11px; }
    #dock ul li:hover { background:#cccccc; }
    #dock ul li.header, #dock ul li .header:hover { color:#ffffff; font-weight:bold; font-size:11px; line-height:18px; text-transform:uppercase; }
    #header { background:#555555; width:100%; min-width:100%; padding:0 10px; }
    #header #icones{ float:right;}
    #dock > li:hover ul { display:inline; }
    #dock ul li.indice, #dock ul li .indice:hover { display:block; padding:8px 0; border-bottom:1px #777777 dotted; color: black; }
    #dock ul li.edicoes, #dock ul li .indice:hover { display:block; padding:8px 0; border-bottom:1px #777777 dotted; color: black; }
    #dock > li ul { position:absolute; top:5px; left:-700px; z-index:-1; width:auto; height:300px; max-height:300px;  background:#f5f5f5; padding:0px; margin:0px; list-style:none; overflow-x:hidden; overflow-y:auto; border:1px #999999 solid; } /* para mudar altura e largura */
    #dock > li ul.docked { display:block; z-index:-2; }
    #dock > li ul IMG { padding:17px; cursor:hand; }
    .dock_icone { font-size:12px; line-height:130%; padding:10px 5px; font-weight:bold; height:100%; color:#333333 }

    .dockindice{
        width:250px;
        height:200px;
    }
    .dockedicao{
        width:270px;
        height:300px;
    }
    .dockprodut{
        width:320px;
        height:300px;
    }

    #dock #indice_barra { background-image:url(../../king/img/azul/abas_indice.png); background-repeat:no-repeat; padding:0; cursor:hand }
    #dock #edicoes_barra { background-image:url(../../king/img/azul/abas_edicoes.png); background-repeat:no-repeat; padding:0; cursor:hand }
    #dock #produtos_barra {  background-image:url(../../king/img/azul/cadernos.png); background-repeat:no-repeat; padding:0; cursor:hand; }
    #dock #sumario_barra {  background-image:url(../../king/img/azul/abas_pagina.png); background-repeat:no-repeat; padding:0; cursor:hand; }

    #edicao_container{
        /*background-color: #000000;
        filter:alpha(opacity=80);
        -moz-opacity:0.7;
        opacity: 0.7;*/
        padding:1px;
        table-layout:fixed;     
        color:black;    
    }
    #edicao_container .box {
        display:block;
        float:left;
        width:60px;
        height:125px;
        max-width: 60px;
        max-height: 125px;
        padding-top:0px;
        padding-right:2px;
        padding-left:2px;
        padding-bottom:0px;
        text-align:center;
        overflow:hidden;
        margin:auto;
    }

    #edicao_container #selected{    
        background-color:#FF9494;
    }

    #edicao_container .box:hover{
        background-color:#FF9494;
    }

    .filter_box{
        font-size:9px;
        padding:2px;
        color:black;
    }

    #edicao_container.box span{
        display: block;
        clear:both;
        text-align: center;  
    }

    .box span a img{
        max-width: 80px;
        max-height: 130px;    
        margin-left:-12px;
        text-align: center;
    }

    #edicao_container .box .data{        
        float:left;    
        width:80px;
        max-width:80px;
        display:block;
        margin-left:2px;
        text-align: center;
        margin-top:-9px;
    }

    #edicao_container .box .datatext{
        text-align:center;
        font-size: 7pt;
        float:left;        
        display:block;
        text-align: center;
    }

    #edicao_container .box .numero{
        background-color:blue;
        color: white;    
        font-size:8pt;    
        float:left;
        display:block;
        margin-left: 3px;
        width:40px;
        max-width:40px;
        overflow:hidden;
    }    
}