fieldset
{
	margin: 1em;
	padding: 20px;
}	
fieldset p
{
	display: block;
	position: relative;
	overflow: hidden;
}

label + p,
input + p
{
	margin-top: 20px;
}

p.custom > input
{
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
p.custom > label 
{ 
/*	float: left; */
	line-height: 16px; 
	padding: 0 0 0 18px;
	-moz-transition: color 1s ease; 
	-o-transition: color 1s ease; 
	-webkit-transition: color 1s ease; 
	transition: color 1s ease; 
}
/*
p:not(#foo) > input:hover + label, p:not(#foo) > input:focus + label,
p:not(#foo) > input + label:hover, p:not(#foo) > input:focus + label			{ color: #0C0019; }
*/

p.custom > input + label
{
	background: url(../img/gr_custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
}
p.custom > input[type=radio] + label										{ background-position: 0 -161px; }

/* Checked styles */
p.custom > input[type=radio]:checked + label 							{ background-position: 0 -241px; }
p.custom > input[type=checkbox]:checked + label 							{ background-position: 0 -81px; }
p.custom > input[type=checkbox]:hover:checked + label,
p.custom > input[type=checkbox]:focus:checked + label,
p.custom > input[type=checkbox]:checked + label:hover,
p.custom > input[type=checkbox]:focus:checked + label 					{ background-position: 0 -101px; }
p.custom > input[type=radio]:hover:checked + label,
p.custom > input[type=radio]:focus:checked + label,
p.custom > input[type=radio]:checked + label:hover,
p.custom > input[type=radio]:focus:checked + label 						{ background-position: 0 -261px; }

/* Hover & Focus styles */
p.custom > input[type=checkbox]:hover + label,
p.custom > input[type=checkbox]:focus + label,
p.custom > input[type=checkbox] + label:hover 							{ background-position: 0 -21px; }
p.custom > input[type=radio]:hover + label,
p.custom > input[type=radio]:focus + label,
p.custom > input[type=radio] + label:hover								{ background-position: 0 -181px; }

/* Active styles */
p.custom > input[type=checkbox]:active + label,
p.custom > input[type=checkbox] + label:hover:active						{ background-position: 0 -41px; }
p.custom > input[type=radio]:active + label,
p.custom > input[type=radio] + label:hover:active						{ background-position: 0 -201px; }
p.custom > input[type=checkbox]:active:checked + label,
p.custom > input[type=checkbox]:checked + label:hover:active				{ background-position: 0 -121px; }
p.custom > input[type=radio]:active:checked + label,
p.custom > input[type=radio]:checked + label:hover:active				{ background-position: 0 -281px; }

/* Disabled styles */
p.custom > input[type=checkbox]:disabled + label,
p.custom > input[type=checkbox]:hover:disabled + label,
p.custom > input[type=checkbox]:focus:disabled + label,
p.custom > input[type=checkbox]:disabled + label:hover,
p.custom > input[type=checkbox]:disabled + label:hover:active			{ background-position: 0 -61px; }
p.custom > input[type=radio]:disabled + label,
p.custom > input[type=radio]:hover:disabled + label,
p.custom > input[type=radio]:focus:disabled + label,
p.custom > input[type=radio]:disabled + label:hover,
p.custom > input[type=radio]:disabled + label:hover:active				{ background-position: 0 -221px; }
p.custom > input[type=checkbox]:disabled:checked + label,
p.custom > input[type=checkbox]:hover:disabled:checked + label,
p.custom > input[type=checkbox]:focus:disabled:checked + label,
p.custom > input[type=checkbox]:disabled:checked + label:hover,
p.custom > input[type=checkbox]:disabled:checked + label:hover:active	{ background-position: 0 -141px; }
p.custom > input[type=radio]:disabled:checked + label,
p.custom > input[type=radio]:hover:disabled:checked + label,
p.custom > input[type=radio]:focus:disabled:checked + label,
p.custom > input[type=radio]:disabled:checked + label:hover,
p.custom > input[type=radio]:disabled:checked + label:hover:active		{ background-position: 0 -301px; background:#00FF00; }
