#multimidia { width:100%; height:25px; background:url(../img/vermelho/multimidia.png) repeat-x; text-align:center;}
#multimidia_left { float:left; width:auto; line-height:25px; color:#ffffff; font-size:12px; font-weight:bold; padding:0 0 0 10px; text-align: left; *width:400px; }
#multimidia_right { float:right; width:auto; line-height:25px; color:#ffffff; font-size:12px; text-align:right; padding:0 0px 0 0; overflow:hidden; *width:400px; *margin-top:-20px; }
#multimidia_middle { min-width:200px; width:200px;  margin:0 auto; text-align: center; *width:400px; }
#multimidia_box { float:left; height:20px; margin:5px 0 0 0 }
#multimidia a { color:#ffffff }
#multimidia_nav{
    text-align:center;
}
#footer { width:100%; height:25px; background:url(../img/vermelho/footer.png) bottom repeat-x; position:absolute; bottom:0; left:0; color:#ffffff }
.menu_home a { background:url(../img/vermelho/home.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_home a:hover { background:url(../img/vermelho/home_hover.png) no-repeat center center; }
.menu_imprimir a { background:url(../img/vermelho/imprimir.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_imprimir a:hover { background:url(../img/vermelho/imprimir_hover.png) no-repeat center center; }
.menu_procurar a { background:url(../img/vermelho/procurar.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_procurar a:hover { background:url(../img/vermelho/procurar_hover.png) no-repeat center center; }
.menu_contato a { background:url(../img/vermelho/contato.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_contato a:hover { background:url(../img/vermelho/contato_hover.png) no-repeat center center; }
.menu_comentar a { background:url(../img/vermelho/comentar.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_comentar a:hover { background:url(../img/vermelho/comentar_hover.png) no-repeat center center; }
.menu_texto a { background:url(../img/vermelho/texto.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_texto a:hover { background:url(../img/vermelho/texto_hover.png) no-repeat center center; }
.menu_pdf a { background:url(../img/vermelho/pdf.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_pdf a:hover { background:url(../img/vermelho/pdf_hover.png) no-repeat center center; }
.menu_recomendar a { background:url(../img/vermelho/recomendar.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:hand; }
.menu_recomendar a:hover { background:url(../img/vermelho/recomendar_hover.png) no-repeat center center; }
#dock #edicoes_barra { background-image:url(../img/vermelho/abas_edicoes.png); background-repeat:no-repeat; padding:0; cursor:hand; }
#dock #indice_barra { background-image:url(../img/vermelho/abas_indice.png); background-repeat:no-repeat; padding:0; cursor:hand; }
#dock #sumario_barra {  background-image:url(../img/vermelho/abas_pagina.png); background-repeat:no-repeat; padding:0; cursor:hand; }
#dock #produtos_barra {  background-image:url(../img/vermelho/cadernos.png); background-repeat:no-repeat; padding:0; cursor:hand; }
#dock #volume_barra {  background-image:url(../img/vermelho/cadernos.png); background-repeat:no-repeat; padding:0; cursor:hand; }
.menu_postit a { background:url(../img/vermelho/postit.png) no-repeat center center; width:30px; height:30px; display:block; behavior:url(../css/iepngfix.htc); cursor:pointer; }
.menu_postit a:hover { background:url(../img/vermelho/postit_hover.png) no-repeat center center; }

#dock_right #anotacoes_barra { background-image:url(../img/vermelho/abas_anotacoes.png); background-repeat:no-repeat; padding:0; cursor:hand; }
#dock ul li:hover { background:#cccccc; }