#s2bannerdiv_landscape_base{            
    clear:both;                                        
    text-align: center;    
    vertical-align: middle;
    overflow:hidden;                        
    margin: 0 auto;                   
}  
.bannerbaseimg_landscape_base{                                     
    display:block;
    margin-left: auto;
    margin-right: auto;   
    vertical-align: middle;
}        
#s2bannerdiv_portrait_base{
    display:none;
}
#s2bannerdiv_base_smart{
    display:none;
}        
#basesistema{
    position:absolute;
    bottom:1px;
    left:0px;
    width:100%;                
    z-index:999999999999999999999999;
}            
#s2bannerdiv_landscape_topo{            
    clear:both;                                        
    text-align: center;    
    vertical-align: middle;
    overflow:hidden;                        
    margin: 0 auto;                       
}  
.bannertopoimg_landscape_topo{                
    display:block;
    margin-left: auto;
    margin-right: auto;   
    vertical-align: middle;
}        
#s2bannerdiv_portrait_topo{
    display:none;
}
#s2bannerdiv_topo_smart{
    display:none;
}    
#toposistema{
    width:100%;
    overflow:hidden;
}