.rodape_baixo {
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    vertical-align:top;

}

#comment_count{
    font: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#pool{
   font: bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
   z-index: 99999999;
}
#pool_itens{
    position: absolute;
    right:0;
    bottom:0;
    width:300px;
    height:auto;
    background-color:white;
    text-align:left;
    border:1px solid #333;
    padding:20px;
    z-index: 99999999;
}
#pool_itens span{
    font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
    z-index: 99999999;
}
.result_strong { display: block; border-top: 7px solid red; text-indent: 1em; }