@charset "utf-8";


header#header ul li a i{
	margin-top:8px;
	padding-top:2px;
}

#paginas .padding{ height:272px; }
#paginas.modal .btn-fechar{	margin-top:20px; }

#todas-edicoes .busca p.botoes .btn-modal{ padding: 2px 16px 4px 16px; }
#indice ul li ul{ margin-top:-15px; }


footer#footer{ width:350px; float:left; left:50%; margin-left:-175px; }
footer#footer ul.paginacao{ width:260px; float:left; }
footer#footer ul.sair{ width:70px; float:left; }


#enquete li label{ padding-left:10px; }
p.custom label{ padding:0px; }
p.custom input{ position:relative; opacity:1; background-color:transparent; }
p.custom > input + label{ background-image:none; }
