body{
    overflow:hidden;    
    margin:0;
    padding:0;
}

.magazine-viewport{    
    height:100%;
}
.magazine-viewport .container{
    position:absolute;
    top:270px;
    left:50%;
    width:auto;
    height:auto;
    margin:auto;
}
.magazine-viewport .magazine{    
    left:-461px;
    top:-130px;
    z-index:9;
}
.magazine-viewport .page{
    width:auto;
    height:auto;
    background-color:white;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.magazine-viewport .zoomer .region{
    /*display:none;*/
}

.magazine-viewport .zoom-in .region{
    /*display:none;*/
}

.magazine-viewport .zoom-in{               
    /*cursor: -webkit-zoom-out; 
    cursor: -moz-zoom-out;
    cursor: -zoom-out;*/
    cursor:move;
}
.magazine-viewport .zoom-out{
    cursor: zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
    cursor: -zoom-in;             
    cursor: url('images/magnify.cur'),zoom-in;                    
    cursor: url('images/magnify.cur'), n-resize\9; /* IE 8 and below */
    *cursor: url('images/magnify.cur'), n-resize; /* IE 7 and below */
    _cursor: url('images/magnify.cur'), n-resize; /* IE 6 */     
}

.TEXTSELECTOR::selection{
    background-color: rgba(60,120,180,0.6);    
    color: rgba(255, 255, 255, 0);    
    min-height:15px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:1px;
    padding-right:1px;       
}
.TEXTSELECTOR::-moz-selection {
    background-color: rgba(60,120,180,0.6);
    color: rgba(255, 255, 255, 0); 
    padding-top:3px;
    padding-bottom:3px;
    padding-left:1px;
    padding-right:1px;       
}
.TEXTSELECTOR span::selection{
    background-color: rgba(60,120,180,0.6);    
    color: rgba(255, 255, 255, 0);  
    padding-top:3px;
    padding-bottom:3px;
    padding-left:1px;
    padding-right:1px;       
}
.TEXTSELECTOR span::-moz-selection {
    background-color: rgba(60,120,180,0.6);
    color: rgba(255, 255, 255, 0);  
    padding-top:3px;
    padding-bottom:3px;
    padding-left:1px;
    padding-right:1px;       
}
.TEXTSELECTOR span{
    color: rgba(255, 255, 255, 0);      
    z-index:999999999999;  
    /*border-bottom:dotted rgba(118, 160, 199,0.9);    
    border-top:dotted rgba(118, 160, 199,0.9);    
    border-width: 1px;    
    background-color: rgba(189, 192, 196, 0.2);*/
    background-color: rgba(196, 196, 196, 0.4);
}

.TEXTSELECTOR{
    position:absolute;        
    vertical-align: bottom;           
    /*background-color: rgba(189, 192, 196, 0.1);*/
    z-index:999999999999;   
    color: rgba(255, 255, 255, 0);    
    text-align:left;        
    display: inline-block;        
}

.AREASELECTOR::selection{
    background-color: rgba(250, 250, 17, 0.6);
    color: rgba(255, 255, 255, 0);    
    height:15px;
}
.AREASELECTOR::-moz-selection {
    background-color: rgba(250, 250, 17, 0.6);
    color: rgba(255, 255, 255, 0);        
    height:15px;
}
.AREASELECTOR span::selection{
    background-color: rgba(250, 250, 17, 0.6);
    color: rgba(255, 255, 255, 0);    
    height:15px;
}
.AREASELECTOR span::-moz-selection {
    background-color: rgba(250, 250, 17, 0.6);
    color: rgba(255, 255, 255, 0);        
    height:15px;
}


.AREASELECTOR{
    position:absolute;        
    vertical-align: middle;           
    z-index:999999999999;   
    color: rgba(255, 255, 255, 0);        
    text-align:left;        
    display: inline-block;
    word-wrap:break-word;
    font-stretch: expanded; 
}
.AREASELECTOR span{               
    color: rgba(255, 255, 255, 0);
    /* border-bottom:dotted rgba(118, 160, 199,0.9);    
     border-top:dotted rgba(118, 160, 199,0.9);    
     border-width: 1px;        
    background-color: rgba(189, 192, 196, 0.2);*/
    background-color: rgba(196, 196, 196, 0.4)
}


.zoomtools{
    position: absolute;
    top:40px;
    left:0;
    width:100%;
    height:25px;
    z-index:999000;
    *z-index:999000 !important;
    display:none;
    cursor:move;
}

.zoomtools > div{
    width:145px;
    height:25px;
    margin:auto;
    background:rgba(0,0,0,0.7);
    text-align:center;
    font:12px arial;
    line-height:25px;
    color:white;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    border-color:black;
}
.zoomtools span img{
    width:21px;   
}
.zoomtools span{
    position:relative;
    display:block;
    width:24px;
    height:24px;
    padding-left:5px;
    padding-right: 5px;
    float:left;
    cursor:pointer;
    padding-top:2px;
}
.magazine .region{
    position:absolute;
    overflow:hidden;
    background:transparent;
    opacity:0.8;    
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    *background: #fff;
    *opacity: 0;
    z-index:999999;    
}
.magazine .region img{
    max-height: 40px;
    position:absolute;
}

.magazine .video{
    position:absolute;
    overflow:hidden;
    background:transparent;        
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    *background: #fff;
    *opacity: 1;
    z-index:999999;
    opacity:1;
}

.magazine .audiopicture{
    position:absolute;
    overflow:hidden;
    background:transparent;        
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    *background: #fff;
    *opacity: 1;
    z-index:999999;
    opacity:1;
}

.magazine .search{
    position:absolute;
    overflow:hidden;
    background:yellow;
    opacity:0.4;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    *Background: #fff;
    *Opacity: 0;
    z-index:999999;
}

.magazine .gallery{
    position:absolute;
    overflow:hidden;   
    opacity:0.8;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    *background: #fff;
    *opacity: 0;
    z-index:999999;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);    
}

.galleryimg{
    position:absolute;
    text-align:center;
    margin:0 auto;    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);        
    width:40%; 
    top:30%;
    left:30%;    
    display:block;    
}
.linkimg{
    position:absolute;
    text-align:center;
    margin:0 auto;    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);        
    width:40%; 
    top:30%;
    left:30%;    
    display:block;    
}
.videoimg{
    position:absolute;
    text-align:center;
    margin:0 auto;    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);       
    width:40%;
    top:30%;
    left:30%;        
    display:block;
}
.iconimg{

}
.magazine .region img:hover{
    background:white;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.magazine .region.zoom img{
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
}

.magazine .region.zoom img:hover{
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.magazine .page{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);    
}

.magazine .page-wrapper{

}

.pageimg{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;    
    position:absolute;
    left:0px;    
}

.magazine .even .gradient{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
    background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
    background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
    background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
    background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
    background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.magazine .odd .gradient{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
    background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
    background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
    background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
    background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
    background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

.magazine-viewport .zoom-in .even .gradient,
.magazine-viewport .zoom-in .odd .gradient{

    display:none;

}

.magazine-viewport .loader{
    background-image:url(../pics/loader.gif);
    width:22px;
    height:22px;
    position:absolute;
    top:280px;
    left:219px;
}

.magazine-viewport .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}

.magazine-viewport .next-button,
.magazine-viewport .previous-button{
    width:22px;
    height:100%;
    position:absolute;
    top:0;
    cursor:pointer;
}

.magazine-viewport .next-button{
    right:-22px;
    -webkit-border-radius:0 15px 15px 0;
    -moz-border-radius:0 15px 15px 0;
    -ms-border-radius:0 15px 15px 0;
    -o-border-radius:0 15px 15px 0;
    border-radius:0 15px 15px 0;
}

.magazine-viewport .previous-button{
    left:-22px;
    -webkit-border-radius:15px 0 0 15px;
    -moz-border-radius:15px 0 0 15px;
    -ms-border-radius:15px 0 0 15px;
    -o-border-radius:15px 0 0 15px;
    border-radius:15px 0 0 15px;
}

.magazine-viewport .previous-button-hover,
.magazine-viewport .next-button-hover{
    background-color:rgba(0,0,0, 0.2);
}

.magazine-viewport .previous-button-hover,
.magazine-viewport .previous-button-down{
    background-image:url(../pics/arrows.png);
    background-position:-4px 284px;
    background-repeat:no-repeat;
}

.magazine-viewport .previous-button-down,
.magazine-viewport .next-button-down{
    background-color:rgba(0,0,0, 0.4);
}

.magazine-viewport .next-button-hover,
.magazine-viewport .next-button-down{
    background-image:url(../pics/arrows.png);
    background-position:-38px 284px;
    background-repeat:no-repeat;
}

.magazine-viewport .zoom-in .next-button,
.magazine-viewport .zoom-in .previous-button{
    display:none;
}

.animated{
    -webkit-transition:margin-left 0.5s;
    -moz-transition:margin-left 0.5s;
    -ms-transition:margin-left 0.5s;
    -o-transition:margin-left 0.5s;
    transition:margin-left 0.5s;
}


.thumbnails{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:140px;
    z-index:1;
}

.thumbnails > div{
    width:700px;
    height:100px;
    margin:20px auto;
}

.thumbnails ul{
    margin:0;
    padding:0;
    text-align:center;
    -webkit-transform:scale3d(0.5, 0.5, 1);
    -moz-transform:scale3d(0.5, 0.5, 1);
    -o-transform:scale3d(0.5, 0.5, 1);
    -ms-transform:scale3d(0.5, 0.5, 1);
    transform:scale3d(0.5, 0.5, 1);
    -webkit-transition:-webkit-transform ease-in-out 100ms;
    -moz-transition:-moz-transform ease-in-out 100ms;
    -ms-transition:-ms-transform ease-in-out 100ms;
    -o-transition:-o-transform ease-in-out 100ms;
    transition:transform ease-in-out 100ms;
}

.thumbanils-touch ul{
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none;
}

.thumbnails-hover ul{
    -webkit-transform:scale3d(0.6, 0.6, 1);
    -moz-transform:scale3d(0.6, 0.6, 1);
    -o-transform:scale3d(0.6, 0.6, 1);
    -ms-transform:scale3d(0.6, 0.6, 1);
    transform:scale3d(0.6, 0.6, 1);
}

.thumbnails li{
    list-style:none;
    display:inline-block;
    margin:0 5px;
    -webkit-box-shadow:0 0 10px #ccc;
    -moz-box-shadow:0 0 10px #ccc;
    -ms-box-shadow:0 0 10px #ccc;
    -o-box-shadow:0 0 10px #ccc;
    box-shadow:0 0 10px  #ccc;
    -webkit-transition:-webkit-transform 60ms;
    -moz-transition:-webkit-transform 60ms;
    -o-transition:-webkit-transform 60ms;
    -ms-transition:-webkit-transform 60ms;
    transition:-webkit-transform 60ms;
}

.thumbnails li span{
    display:none;
}

.thumbnails .current{
    -webkit-box-shadow:0 0 10px red;
    -moz-box-shadow:0 0 10px red;
    -ms-box-shadow:0 0 10px red;
    -o-box-shadow:0 0 10px red;
    box-shadow:0 0 10px red;
}

.thumbnails .thumb-hover{
    -webkit-transform:scale3d(1.3, 1.3, 1);
    -moz-transform:scale3d(1.3, 1.3, 1);
    -o-transform:scale3d(1.3, 1.3, 1);
    -ms-transform:scale3d(1.3, 1.3, 1);
    transform:scale3d(1.3, 1.3, 1);

    -webkit-box-shadow:0 0 10px #666;
    -moz-box-shadow:0 0 10px #666;
    -ms-box-shadow:0 0 10px #666;
    -o-box-shadow:0 0 10px #666;
    box-shadow:0 0 10px #666;
}

.thumbanils-touch .thumb-hover{
    -webkit-transform:none;
    -moz-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none;
}

.thumbnails .thumb-hover span{
    position:absolute;
    bottom:-30px;
    left:0;
    z-index:2;
    width:100%;
    height:30px;
    font:bold 15px arial;
    line-height:30px;
    color:#666;
    display:block;
    cursor:default;
}

.thumbnails img{
    float:left;
}

.esc{
    position: absolute;
    top:10px;
    left:0;
    width:100%;
    height:40px;
    z-index:10000;
}

.esc > div{
    width:140px;
    height:30px;
    margin:auto;
    background:rgba(0,0,0,0.5);
    text-align:center;
    font:12px arial;
    line-height:30px;
    color:white;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}
#content { width:100%; height:100%; }

.highlighted{
    color: rgba(255, 255, 255, 0);    
    background-color: rgba(250, 250, 17, 0.6);
    height:80px;   
    padding-top:3px;
    padding-bottom:3px;
    padding-left:1px;
    padding-right:1px;    
}

.highlightedArea{
    color: rgba(255, 255, 255, 0);    
    background-color: rgba(250, 250, 17, 0.6);
    height:43px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:1px;
    padding-right:1px;
}

#modovisualizacao{
    margin-top:5px;
}
.ajuda{
    cursor:help;
}
#loading{
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255,0.5);
    position:absolute;
    left:0px;
    top:0px;
    z-index:9999999999;
}
div#modalBox {
    z-index:99999999;
}
#magazine-viewport{
    z-index:1;
}
#indicecontent li,#pool_form li{
    text-align:left;
}
.logotipo{
    max-height:34px;
}
#enquete { width:280px; margin:0 auto; font-size:18px; }
#titulo { width:100%; margin:0 auto; background:#ffffff; color:#222222; padding:8px 12px; font-weight:bold; font-size:17px; }
#titulo IMG { position:absolute; top:0; right:0; cursor:hand }
#pergunta { width:100%; margin:0 auto; padding:8px 12px; font-weight:bold; font-size:15px }
#respostas { width:100%; margin:0 auto; padding:8px 12px; line-height:150%; font-size:13px }

.bottom { background:#ffffff; float:left; border:0; padding:3px 4px; margin:0 15px 0 0; cursor:hand; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; }
.bottom:hover { background:url(../img/bg_button_hover.png) repeat-x #ffffff }
#areabotoes,#result{
    text-align:left;
}