@charset "utf-8";

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.tiny-scrollbar-v { width: 100%; height:100%; clear: both; margin: 0px 0 0px; }
.tiny-scrollbar-v .viewport { height:400px; overflow: hidden; position: relative; }
.tiny-scrollbar-v .overview { list-style: none; position: absolute; left: 0; top: 0; }
.tiny-scrollbar-v .thumb .end, .tiny-scrollbar-v .scrollbar { position: relative; float: right; width: 22px; border:1px solid #FFFFFF; padding-top:1px; padding-bottom:1px; }
.tiny-scrollbar-v .track { background-color:#202830; border:0px solid #FF0000; height: 100%; width:20px; position: relative; padding: 0 1px; }
.tiny-scrollbar-v .thumb { height: 20px; width: 20px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background-color: #FFFFFF; }
.tiny-scrollbar-v .thumb .end { overflow: hidden; height: 5px; width: 20px; }
.tiny-scrollbar-v .disable{ display: none; }



.tiny-scrollbar-h { width: 100%; margin: 20px 0 10px; }
.tiny-scrollbar-h .viewport { width:99%; height: 186px; overflow: hidden; position: relative; }
.tiny-scrollbar-h .overview { list-style: none; width:2000px; padding: 0; margin: 0; position: absolute; left: 0; top: 0;  }
.tiny-scrollbar-h .overview img{ float: left; }
.tiny-scrollbar-h .scrollbar{ border:1px solid #FFFFFF; position: relative; margin: 0 2px 0 2px; padding-left:1px; padding-right:1px; clear: both; height: 22px; }
.tiny-scrollbar-h .track { background-color:#202830; border:0px solid #FF0000; width:100%; height:20px; position:relative; }
.tiny-scrollbar-h .thumb { background:#FFFFFF; height: 20px; cursor: pointer; overflow:hidden; position: absolute; left:0; top:1px; }
.tiny-scrollbar-h .thumb .end{ background: #FFFFFF url(../images/bg-scrollbar-thumb-x.png) no-repeat 0 50%; overflow: hidden; height: 25px; width: 5px;}
.tiny-scrollbar-h .disable { display: none; }



