#credit{
    position:fixed;
    top:0;
    left:85%;
    width:132px;
    height:41px;
}

#menu_side{
    background-color:transparent;
    border-width:1px;
    border-style: outset;
    border-color:#1C2313;
    position:fixed;
    width:13px;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    color:black;
    overflow:hidden;
}

#expand_img{
    margin-top:200px;
}
