svg {

  path{
    stroke-linejoin: round;
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
    transform: inherit;
  }

  line{
    fill:none;
    stroke-linejoin:round;
    stroke-width:1;
    stroke:inherit;
  }

  polyline{
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }



}

svg:not(:root) {overflow: hidden;}
